body img{
    height: 200px;
    width: 400px;
    padding: 15px;
}
button{
    height: 60px;
    width: 120px;
}
header{
    background-color: aquamarine;
    text-align: center;

}

#button{
    position: relative;
    font-size: large;
    left: 45%;
}